html, body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: #F4F6F9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000f;
  overflow-x: hidden;
}

app-root {
  display: contents;
}

app-login, app-register {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
