<app-layout>

  <div class="card-ui">

    <div class="header">
      <h2>All Products</h2>
    </div>

    <table class="table-ui">
      <!--<thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Owner</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of totalProducts">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.userName }}</td>
          <td>
            <button class="btn-edit">Edit</button>
            <button class="btn-delete">Delete</button>
          </td>
        </tr>
      </tbody>-->
    </table>

  </div>

</app-layout>
