<div class="layout">

  <!-- Sidebar -->
  <div class="sidebar">
    <h2 class="logo">Product Serve</h2>

    <!-- Admin Navigation -->
    <ng-container *ngIf="isAdmin">
      <a routerLink="/admin/products" routerLinkActive="active">
        All Products
      </a>

      <a routerLink="/admin/users" routerLinkActive="active">
        Manage Users
      </a>
    </ng-container>

    <!-- User Navigation -->
    <ng-container *ngIf="!isAdmin">
      <a routerLink="/products" routerLinkActive="active">
        My Products
      </a>

      <!--<a routerLink="/products/create" routerLinkActive="active">
        Add Product
      </a>-->
    </ng-container>

  </div>

  <!-- Main Content -->
  <div class="main">

    <!-- Topbar -->
    <div class="topbar">
      <div>
        Welcome
        <span style="color:crimson">
          {{ isAdmin ? 'Admin' : 'User' }}
          <!--({{ role }})-->
        </span> 👋
      </div>

      <div class="user-section">
        <button class="logout-btn" (click)="onLogout()">Logout</button>
      </div>
    </div>

    <!-- Page Content -->
    <div class="content">
      <ng-content></ng-content>
    </div>

  </div>
</div>
